.card__section {
  margin-top: 40px;
}

.card__title {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 10px;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  padding: 5px;
}

/* .card__name {
  position: absolute;
  top: 18px;
  right: 130px;
  margin: 0;
  text-align: center;
  padding: 0 12px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
} */

.card__name {
  margin: 0;
  text-align: center;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.card__item {
  position: relative;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 34px;
  justify-content: center;
  list-style: none;
}

.card__section-title {
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0px;
}

.card__likeButton {
  width: 22px;
  height: 19px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  background: no-repeat;
  border: none;
}

.card__likeButton-active {
  background-image: url(../../images/heartButton_active.svg);
}

.card__likeButton-inactive {
  background-image: url(../../images/heartButton_inactive.svg);
}
