@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.modal__input-title {
  margin-top: 24px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  color: #000;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2px;
}

.modal__input {
  border: 0;
  width: 100%;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;

  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__weather-section {
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.modal__radio-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio-option {
  display: flex;
  align-items: center;
}

.modal__radio-button {
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  accent-color: black;
}

.modal__radio-weather {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
