.modal__item-close-button {
  background: url(../../images/closeButton.svg) no-repeat center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  cursor: pointer;
}

.modal__item-image {
  max-width: 498px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal__content {
  position: relative;
  background-color: white;
  max-width: 498px;
  width: 100%;
  border-radius: 16px;
}

.modal_item-description {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.modal__item-name {
  color: black;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 12px;
}

.modal__item-weather {
  color: #000;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
