.clothes-section {
  margin-top: 10px;
}

.clothes-section__container {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  gap: 20px;
}

.clothes-section__title {
  margin: 0;
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.clothes-section__button {
  color: rgba(0, 0, 0, 0.6);
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.clothes-section__button:hover {
  opacity: 0.4;
}

.clothes-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
